.sel-width {
    height: 20px;
    width: 54px;
}
.abc{
    height:35px;
}
.showMe{
    font-size:10px;
    font-weight: bold;
    background-color:#000000;
    color: #ffff00;
    width:99%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.insFooter {
    font-size:12px;
    color:black;
    position:fixed;
    opacity: 0.7;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#ffff00;
    border:none;
}
.css_blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}