<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-6 text-left">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="images/CBTravel.LOGO.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <small><strong>Virtual Agent Assist</strong></small>
                                </div>
                            </div>
                        </div>
                        <ngcart-summary></ngcart-summary>
                    </div>
                </div>
                    <div class="container" style="padding: 10px">
					    <div class="row">
					        <div class="col-md-5">
					            <div class="panel panel-primary" style="height: 450px">
					                <div class="panel-heading">
					                    <span class="glyphicon glyphicon-comment"></span> 24X7 Support
					                </div>
					                <div class="panel-body" style="height: 410px">
								        <div id="scrollingChat">
									        <div class="alert alert-success" role="alert">
											  <strong>Welcome</strong> to virtual support center.
											</div>
										</div>		                
					                    <div class="col-xs-12">
											<label for="textInput" class="inputOutline">
											  	<input id="textInput" type="text" class="form-control input-sm" placeholder="Type something" onkeydown="ConversationPanel.inputKeyDown(event, this)"/>
											</label>
										</div>
						            </div>
					            </div>
					        </div>
					    </div>
					</div>
					                    
               <!--<div class="panel-footer panel-default clearfix"><div class="row pull-right"><img
                        src="images/poweredBy.01.png"/></div>
                </div>-->
            </div>
        </div>
    </div>
</div>