<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding:1px">
                    <div class="container-fluid panel-container">
                        <div class="row">
		                	<div class="col-xs-5 col-sm-5 col-lg-5">
			                    <div class="col-sm-10">
                                    <img src="images/ibm_watson.png"style="width:60%;height:60%">
                                </div>
							</div>	
		                	<div class="col-xs-3 col-sm-3 col-lg-3">
							  	<h2 style="color:LightSeaGreen ;">Cognitive Mate</h2>
							  	<h5 style="color:red;"><span class="css_blink">Virtual Customer Support Center</h5>
							</div>	
		                	<div class="col-xs-4 col-sm-4 col-lg-4" >
							  	<ngcart-summary></ngcart-summary>
							</div>	
						</div>
                    </div>
                </div>
                    <div class="container" style="padding: 10px">
					    <div class="row">
					        <div class="col-md-6">
					            <div class="panel panel-primary" style="height: 450px">
					                <div class="panel-heading">
					                    <span class="glyphicon glyphicon-comment"></span> 24X7 Support
					                </div>
					                <div class="panel-body" style="height: 410px">
								        <div id="scrollingChat">
									        <div class="alert alert-success" role="alert">
											  <strong>Welcome</strong> to virtual support center.
											</div>
										</div>		                
					                    <div class="col-xs-12">
											<label for="textInput" class="inputOutline">
											  	<input id="textInput" type="text" class="form-control input-sm" placeholder="Type something" onkeydown="ConversationPanel.inputKeyDown(event, this)"/>
											</label>
										</div>
						            </div>
					            </div>
					        </div>
					        <div class="col-xs-5">
			                    <div>
			                    <a ng-href="http://chachatt:8080/AppBuilder/" target="_blank">
   									 <img src="images/wtasonvf.png" height="100%" width="100%"/>
   								</a>
								</div>
  								<h3><span class="jquery_blink" style="color: OrangeRed ;"><strong>Click above!</strong> Ask to IBM Watson.</span></h3>
								<span>
								<a href="http://chachatt:8080/AppBuilder/" target="_blank">
                					<i class="glyphicon glyphicon-search"></i>
                				</a><span style="color:RebeccaPurple;font-style:italic;">Watson Explorer is a cognitive search and content analysis platform that gives you access to insights from all the data you care about, so you can drive business performance and growth. Search and analyze structured, unstructured, internal, external and public content to uncover trends and patterns that improve decision-making, customer service and ROI</span>
								</span>
							</div>	
					    </div>
					</div>
					                    
               <!--<div class="panel-footer panel-default clearfix"><div class="row pull-right"><img
                        src="images/poweredBy.01.png"/></div>
                </div>-->
            </div>
        </div>
    </div>
</div>