<div class="container"> <!--  ng-init="findTone()" -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-6 text-left">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="images/CBTravel.LOGO.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <small><strong>Cognitive Support Statistic</strong></small>
                                </div>
                            </div>
                        </div>
                        <ngcart-summary></ngcart-summary>
                    </div>
                </div>
                <div class="panel-body">
                	<div class="alert alert-success" role="alert">
					  <strong>Attention!</strong> Please use virtual agent support center top right corner.
					</div>
                	<div class="alert alert-warning" role="alert">
  						<strong>Warning!</strong>This section not yet live! stay tuned.
					</div>
                    <div class="col-sm-12">
                        <form class="form-horizontal" role="form" name="homeForm"  ng-submit="findTone()" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : homeForm.from.$invalid && !homeForm.from.$pristine && homeForm.to.$invalid && !homeForm.to.$pristine }">
                                <label class="col-sm-3 control-label">Support Domain</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">Domain</span>
                                        <input type="text" placeholder="Select Domain"
                                            typeahead="data.airportname for data in findAirports($viewValue)"
                                            typeahead-min-length="3"
                                            typeahead-wait-ms="250"
                                            ng-model="domainname"
                                            ng-minlength="3"
                                            class="input-sm form-control"
                                            name="domain" required />
                                    </div>
                                </div>
                            </div>
                            <p ng-show="homeForm.domain.$invalid && !homeForm.domain.$pristine" class="help-block">
                                Please enter at least 3 letters for the <em>source</em> domain.
                            </p>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">DATES</label>
                                <div class="col-sm-5">
                                    <div class="input-daterange" id="datepicker">
                                        <div class="input-group">
                                            <span class="input-group-addon">Form</span>
                                            <input type="text" class="input-sm form-control" name="start" id="formDate"
                                                ng-model="startdate" placeholder="enter a from date" />
                                            <span class="input-group-addon" id="retSpan">End</span>
                                            <input type="text" class="input-sm form-control" id="lastDate" name="end"
                                                ng-model="enddate" />
                                        </div>
                                        <div class="col-sm-8" style="margin: 3px">
	                                        <button class="btn btn-primary pull-right btn-sm" type="button"
			                                        ng-click="findTone(domainname,startdate,enddate)">
			                                        Conversation Analyzer
			                                </button>
		                                </div>
                                        <div class="col-xs-2">
		                                </div>
                                    </div>                                    
                                </div>
                            </div>                    
                        </form>
                    </div>
                </div>
                <!--  <div class="panel-footer panel-default clearfix"><div class="row pull-right">
                    <img src="images/poweredBy.01.png"/></div>-->
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-show="!empty">
                <div class="panel-heading">
                    <h3 class="panel-title">Analysis on Emotion - Language Style - Social Tendencies</h3>
                </div>
                <div class="panel-body">
                    <h4>Emotion Tone</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tone Name</th>
                                <th>Score</th>
                                <!-- <th>Reservation</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in rowCollectionLeave">
                                <td>{{row.tone_name}}</td>
                                <td>{{(row.score*100) | number:0}}%</td>
                                <!-- <td>
                                    <button class="btn btn-xs btn-primary" ng-click="selectRow(row)" type="button">
                                        Choose
                                    </button>
                                </td>
                                <td>
                                    <button type="button" ng-click="removeRow(row)" class="btn btn-xs btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>
