<div class="container" ng-init="findTone()"> <!--  ng-init="findTone()" -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                       	<div class="row">
		                	<div class="col-xs-5 col-sm-5 col-lg-5">
			                    <div class="col-sm-10">
                                    <img src="images/ibm_watson.png"style="width:30%;height:20%">
                                </div>
                                <div class="col-sm-10">
                                    <img src="images/vflogo.png"style="width:30%;height:10%">
                                </div>
							</div>	
		                	<div class="col-xs-3 col-sm-3 col-lg-3">
							  	<h2 style="color:LightSeaGreen ;">Cognitive Mate</h2>
							  	<h3 style="color:red;"><span class="css_blink">Dash board</h3>
							</div>	
		                	<div class="col-xs-4 col-sm-4 col-lg-4" >
							  	<ngcart-summary></ngcart-summary>
							</div>	
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-show="!empty">
                <div class="panel-heading"><h3 class="panel-title">Analysis on Emotion - Social Tendencies</h3> </div>
				
                	<div class="container" style="padding:2px"">
	                	<div class="row">
		                	<div class="col-xs-8">
			                    <div class="alert alert-info">
 										<strong>Info!</strong> The IBM Watson&trade; Tone Analyzer Service uses linguistic analysis to detect three types of tones from conversation text: emotions, social tendencies, and writing style. Emotions identified include things like anger, fear, joy, sadness, and disgust. Identified social tendencies include things from the Big Five personality traits used by some psychologists. These include openness, conscientiousness, extraversion, agreeableness, and emotional range.
								</div>
							</div>	
		                	<div class="col-xs-3" style="background-color:rgb(85,280,50)""><h6>Measure weightage</h6>
							  	<div><a href="#">not likely <span class="badge">>.5</span></a></div>
							  	<div><a href="#">likely <span class="badge">.5</span></a><br></div>
							  	<div><a href="#">very likely <span class="badge">>.75</span></a><br></div>
							</div>	
						</div>
					</div>
               
                <div class="panel-body">
                	<div class="container">
	                	<div class="row">
		                	<div class="col-xs-6">
			                    <h4>Emotion Tone</h4>
			                    <div class="row" ng-repeat="row in rowCollectionLeave">
			                    	<div class="col-md-6" style="background-color:Linen">
									  	<div class="col-md-1" style="background-color:rgb(50,169,229);color:white; margin: 2px;width:{{(row.score*100)+140}}px">{{row.tone_name}}</div>
								  	</div><p class="text-primary">{{scoreEvaluate(row.score)}}</p>
								</div>
							</div>	
		                	<div class="col-xs-6">
			                    <h4>Social Tone</h4>
			                    <div class="row" ng-repeat="row in rowCollectionSc">
			                    	<div class="col-md-6" style="background-color:LightGoldenRodYellow ">
									  	<div class="col-md-1" style="background-color:rgb(85,229,50);color:white; margin: 2px;width:{{(row.score*100)+140}}px">{{row.tone_name}}</div>
								  	</div><p class="text-success">{{scoreEvaluate(row.score)}}</p>
								</div>
							</div>	
						</div>
					</div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>
