<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }
    .form-signin {
        max-width: 330px;
        padding: 5px;
        margin: 0 auto;
    }
</style>
<div class="container">
    <form role="form" class="form-signin" name="loginForm" ng-submit="login(username, password, isNew)" novalidate>
        <div class="row">
              	<div class="col-sm-12">
                   <div class="col-sm-10">
                       <img src="images/ibm_watson.png"style="width:100%;height:100%">
                   </div>
                   <div class="col-sm-10">
                       <img src="images/vflogo.png"style="width:100%;height:100%">
                   </div>
					<h4 class="form-signin-heading" ng-show="isNew == true">Please Take a Moment to Create an Account</h4>
			        <h4 class="form-signin-heading" ng-show="isNew == false">Please Enter Your Username and Password</h4>
			        <div class="alert alert-warning" role="alert" ng-show="formData.error">{{formData.error}}</div>
			        <input type="text" placeholder="Please Enter Your Email Address" required name="username" ng-model="username" ng-change="formData.error=null" class="form-control"/>
			        <input type="password" placeholder="Enter a password" required="" name="password" ng-model="password" ng-change="formData.error=null" class="form-control"/>
			        <label class="checkbox">
			            <input type="checkbox" ng-checked="false" name="isNew" ng-model="isNew" ng-init="isNew=false" ng-disabled="true" />New User
			        </label>
			        <label class="checkbox">
			            <input type="checkbox" ng-checked="showCode" name="narration" ng-change="toggleDebug()" ng-model="narration" ng-init="narration=showCode" ng-disabled="true"/>Enable Narration
			        </label>
			        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="login(username, password, isNew)">Sign in</button>
			</div>	        
        </div>
        
    </form>
</div>
