<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-12 text-right">
            <small>LOGGED IN AS:</small>
            {{getUser()}}
        <a href="/#/login" ng-click="logout()">| LOGOUT</a></div>
    </div>
    <!--<div class="row">
        <div class="col-xs-12 text-right"><Small>SHOPPING CART:</Small>{{ ngCart.getTotalItems() }}
            <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
            <small>({{ ngCart.totalCost() | currency }})</small>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-12 text-right">
            <a class="btn btn-default" ng-class="{ active: isActive('/#/home')}" href="/#/home">
                <i class="glyphicon glyphicon-send">
                </i>
            </a>
            <a class="btn btn-default"
               href="http://chachatt:8080/AppBuilder/" target="_blank">
                <i class="glyphicon glyphicon-question-sign">
                </i>
            </a>
            <!--<a class="btn btn-default" ng-class="{ active: isActive('/#/user')}" href="/#/user">
                <i class="glyphicon glyphicon-user">
                </i>
            </a>-->
            <a class="btn btn-default" ng-class="{ active: isActive('/#/chat')}" href="/#/chat">
                <i class="glyphicon glyphicon-headphones">
                </i>
            </a>
        </div>
    </div>
</div>
